@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #61174C, #9C287F);
    color: #fff;
    line-height: 1.6;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: 40px auto;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: #61174C;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    gap: 15px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    object-fit: cover;
}

.card h2 {
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.card p {
    font-size: 1rem;
}

footer p {
    margin-top: 40px;
    font-size: 0.9rem;
    opacity: 0.8;
    text-align: center;
    bottom: 10px;
    position: absolute;
}

/* Animações */
.bounce-top {
    animation: bounce-top 1s both;
}

@keyframes bounce-top {
    0% {
        transform: translateY(-45px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    25%,
    55%,
    75%,
    87% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    40% {
        transform: translateY(-24px);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(-12px);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateY(-6px);
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(-4px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}